@use "src/variables.scss";

.user-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$gray-300;
  color: variables.$gray-600;
  font-weight: bold;
  font-size: 60%;
}
